{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbarstyle.css'%}">
    <link rel="stylesheet" href="{% static 'css/pagebody.css'%}">
    
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <nav class="nav-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="{% url 'homepage'%}">
            <label class = "logo">Prateek Lodhi</label>
        </a>
        <ul>
           {%block navitem%}
           {%endblock navitem%}
        </ul>
       
    </nav>
    <div class="container">
      
        {% block body %}
        {% endblock body %}
    </div>
</body>
</html>