{% extends 'base.html' %}
{% block title %}   
    My Projects
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for project in projects %}
                <div class="col">
                    {{project.title}}
                    {{project.description}}
                </div>
            {% endfor%}            
        </div>    
    </div>

{% endblock body%}
{%block navitem%}
<li><a href="{% url 'homepage'%}">About Me</a></li>
<li><a href="{% url 'education'%}">My Education </a></li>
<li><a href="{% url 'workexperience'%}">My Work Experience </a></li>
<li><a href="{% url 'certification'%}">My Achivements And Certifications </a></li>
{%endblock navitem%}
   <!-- starting of portfolio content two-->
   <div class="portfolio__content grid swiper-slide">
    <img src="assets/img/portfolio2.jpg" alt="" class="portfolio__img">
    <div class="portfolio__data">
        <h3 class="portfolio__title">Brand Design</h3>
        <p class="portfolio__description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero illum perspiciatis
            optio aperiam ratione maiores voluptatibus sed itaque repellendus officia natus odio
            soluta, magnam ipsum quae, rerum beatae illo? Optio? </p>
        <a href="#" class="button button--flex button--small portfolio__button">
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
        </a>
    </div>
</div>
<!-- ending of portfolio content two -->
<!-- starting of portfolio content three-->
<div class="portfolio__content grid swiper-slide">
    <img src="assets/img/portfolio3.jpg" alt="" class="portfolio__img">
    <div class="portfolio__data">
        <h3 class="portfolio__title">Online store</h3>
        <p class="portfolio__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum minus similique
            officia, ab laboriosam delectus alias dolore dolorum eaque, velit eligendi esse iste
            magni. Et, totam similique? Enim, similique.</p>
        <a href="#" class="button button--flex button--small portfolio__button">
            Demo
            <i class="uil uil-arrow-right button__icon"></i>
        </a>
    </div>
</div>
<!-- ending of portfolio content three-->