<div class="row">
    <label for="name"></label>
    <p id="name">{{data.full_name}}</p>
</div>

<div class="row">
    <label for="mailaddress"></label>
    <p id = "mailaddress">{{data.mailaddress}}</p>
</div>    

<div class="row">
    <label for="address"></label>
    <p id = "address">{{data.address}}</p>
</div>    

<div class="row">
    <label for="phone_number"></label>
    <p id = "phone_number">{{data.phone_number}}</p>
</div>    

<div class="row">
    <label for="designation"></label>
    <p id = "designation">{{data.designation}}</p>
</div>    

<div class="row">
    <label for="orgnization"></label>
    <p id = "orgnization">{{data.orgnization}}</p>
</div>    

<div class="row">
    <label for="details"></label>
    <p>{{data.joindate}}</p>
</div>        
