{% extends 'base.html' %}
{% block title %}
    My Work Experience
{% endblock title %}
{% block body%}
    <div class="container">
        <div class="row">
            {% for work in workexp %}
                <div class="col">
                    {{work.designation}}
                    {{work.orgnization}}
                    {{work.joining}}
                    {{work.enddate}}
                    {{work.detail}}
                </div>
            {% endfor%}
        </div>
    </div>    
{% endblock body%}
{%block navitem%}
<li><a href="{% url 'homepage'%}">About Me</a></li>
<li><a href="{% url 'projects'%}">My Projects </a></li>
<li><a href="{% url 'education'%}">My Education </a></li>
<li><a href="{% url 'certification'%}">My Achivements And Certifications </a></li>
{%endblock navitem%}
<!-- =========================== -->
 <!-- main data for qualification two work-->
 <div class="qualification__data">
    <!-- extra div -->
    <div></div>
    <div>
        <span class="qualification__rounder"></span>
        <span class="qualification__line"></span>
    </div>
    <div>
        <h3 class="qualification__title">Web </h3>
        <span class="qualification__subtitle">
            Spain - Institute
        </span>
        <div class="qualification__calendar">
            <i class="uil uil-calendar-alt"></i>
            2009 - 2014
        </div>
    </div>
    <!-- end of extra div -->
</div>
<!-- end of main data for qualification eductaion tow-->
<!-- main data for qualification  three-->
<div class="qualification__data">
    <!-- extra div -->
    <div>
        <h3 class="qualification__title">Development</h3>
        <span class="qualification__subtitle">
            Peru- Institute
        </span>
        <div class="qualification__calendar">
            <i class="uil uil-calendar-alt"></i>
            2009 - 2014
        </div>
    </div>
    <!-- end of extra div -->
    <div>
        <span class="qualification__rounder"></span>
        <span class="qualification__line"></span>
    </div>
</div>
<!-- end of main data for qualification three work-->
<!-- main data for qualification four work -->
<div class="qualification__data">
    <!-- extra div -->
    <div></div>
    <div>
        <span class="qualification__rounder"></span>
        <!-- <span class="qualification__line"></span> -->
    </div>
    <div>
        <h3 class="qualification__title">Enginner</h3>
        <span class="qualification__subtitle">
            Peru - university
        </span>
        <div class="qualification__calendar">
            <i class="uil uil-calendar-alt"></i>
            2009 - 2014
        </div>
    </div>
    <!-- end of extra div -->
</div>
<!-- end of main data for qualification four work-->